{{ define "base" }}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>

            {{ block "title" .}}

            {{ end }}
        </title>
        {{ block "css" .}}

        {{ end }}
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
        <style>
            .notie-container {
                box-shadow: none;
            }
            .notie-textbox-inner {
                color: #faffff;
            }
        </style>
    </head>
    <body>
        <div class="body_wrapper">
            {{template "navbar"}}

            {{ block "content" .}}

            {{ end }}
        </div>
        


        {{ block "js" .}}

        {{ end }}

        <script src="https://unpkg.com/notie"></script>
        <script>

            function notify(msg, msgType) {
                notie.alert({
                type: msgType,
                text: msg,
                })
            }

            {{with .Error}}
                notify("{{.}}", "error")
            {{end}}

            {{with .Flash}}
                notify("{{.}}", "success")
            {{end}}

            {{with .Warning}}
                notify("{{.}}", "warning")
            {{end}}


        </script>
    </body>
    </html>

{{ end }}
