{{ define "base" }}

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>

            {{ block "title" .}}

            {{ end }}
        </title>
        {{ block "css" .}}

        {{ end }}
    </head>
    <body>
        <div class="body_wrapper">
            {{template "navbar"}}
            <!-- <header>
                <nav class="navbar">
                    <ul class="navbar_list">
                        <li class="navbar_item navbar_home active"><a href="/">Главная</a></li>
                        <li class="navbar_item navbar_todo"><a href="/todo">Задачи</a></li>
                        <li class="navbar_item"><a href="#">Контакты</a></li>
            
                    </ul>
                    <ul class="navbar_auth">
                        <li class="navbar_item navbar_login"><a href="/login">Вход</a></li>
                        <li class="navbar_item navbar_signup"><a href="/signup">Регистрация</a></li>
                    </ul>
                </nav>
            </header> -->
            {{ block "content" .}}

            {{ end }}
        </div>
        


        {{ block "js" .}}

        {{ end }}
    </body>
    </html>

{{ end }}
