{{template "base" .}}

{{define "title"}}
    {{ .Title }}
{{end}}

{{define "css"}}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
{{end}}

{{define "content"}}
    <div class="todo_div btn">
        <a href="/todo" class="btn_link">Список дел</a>
    </div>
{{end}}

{{define "js"}}
    <script src="/static/js/script.js"></script>
    <script>

       
    </script>
{{end}}