{{template "base" .}}

{{define "title"}}
{{ .Title }}
{{end}}

{{define "css"}}
<link rel="stylesheet" href="/static/css/style.css">
{{end}}

{{define "content"}}

{{end}}

{{define "js"}}
<script src="/static/js/script.js"></script>
{{end}}