{{template "base" .}}

{{define "title"}}
{{ .Title }}
{{end}}

{{define "css"}}
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/reg.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous"/>
{{end}}

{{define "content"}}
    <div class="regform">
        <div class="regform_body container">

            {{$userData := index .Data "user_data"}}
            <form action="/signup" method="POST" class="regform_form" id="form">
                <input type="hidden" name="csrf_token" value="{{ .SCRFToken }}">
                <div class="title">Регистрация</div>

                <!-- Email input -->
                <div>
                    <label for="email">Email</label>
                    {{with .Form.Errors.Get "email"}}
                        <label class="error">{{.}}</label>
                    {{end}}
                    <label class="error"></label>
                    <i class="far fa-envelope"></i>

                    <input
                            type="email"
                            name="email"
                            id="email"
                            placeholder="abc@gmail.com"
                            autocomplete="off"
                            value="{{$userData.Email}}"
                            {{with .Form.Errors.Get "email"}} style="border: 2px solid red;" {{end}}
                    />

                    <i class="fas fa-exclamation-circle failure-icon " {{with .Form.Errors.Get "email"}} style="opacity: 1;" {{end}}></i>
                    <i class="far fa-check-circle success-icon"></i>


                </div>

                <!--   Password input -->

                <div>
                    <label for="password">Пароль</label>
                    {{with .Form.Errors.Get "password"}}
                        <label class="error">{{.}}</label>
                    {{end}}
                    <label class="error"></label>
                    <i class="fas fa-lock"></i>

                    <input
                            type="password"
                            name="password"
                            id="password"
                            placeholder="Введите пароль"
                            autocomplete="off"
                            value="{{$userData.Password}}"
                            {{with .Form.Errors.Get "password"}} style="border: 2px solid red;" {{end}}
                    />

                    <i class="fas fa-exclamation-circle failure-icon" {{with .Form.Errors.Get "password"}} style="opacity: 1;" {{end}}></i>
                    <i class="far fa-check-circle success-icon"></i>

                </div>

                <!--   Password2 input -->

                <div>
                    <label for="password2">Повтор пароля</label>
                    {{with .Form.Errors.Get "password2"}}
                        <label class="error">{{.}}</label>
                    {{end}}
                    <label class="error"></label>
                    <i class="fas fa-lock"></i>

                    <input
                            type="password"
                            name="password2"
                            id="password2"
                            placeholder="Повторите пароль"
                            autocomplete="off"
                            value="{{$userData.Password2}}"
                            {{with .Form.Errors.Get "password2"}} style="border: 2px solid red;" {{end}}
                    />

                    <i class="fas fa-exclamation-circle failure-icon" {{with .Form.Errors.Get "password2"}} style="opacity: 1;" {{end}}></i>
                    <i class="far fa-check-circle success-icon"></i>

                </div>

                <button id="btn" class="btn" type="submit">Продолжить</button>


            </form>

        </div>

        <!-- <div>
            {{if ne (index .StringMap "message") ""}}
                Message is - {{index .StringMap "message"}}
            {{else}}
                I don`t find message, please visit <a href="/">Главная страница</a> for getting message
            {{end}}
        </div> -->
    </div>
{{end}}

{{define "js"}}
<script src="/static/js/script.js"></script>
<script src="/static/js/auth.js"></script>
{{end}}